<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="logs"/>

    <!-- ================= CONSOLE APPENDER ================= -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ========== AUTHENTICATION EVENT FILE APPENDER ====== -->
    <appender name="AUTH_EVENT_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/authentication-event.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/authentication-event.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ===== LOGGER FOR *THIS CLASS ONLY* ===== -->
    <logger name="com.healthcare.listener.AuthenticationEventListener"
            level="INFO"
            additivity="false">
        <appender-ref ref="AUTH_EVENT_FILE"/>
    </logger>

    <!-- =============== ROOT LOGGER =============== -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
